name: Eslint
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend

    steps:
    - uses: actions/checkout@v2

    - name: Setup Node.js
      uses: actions/setup-node@v2
      with:
        node-version: '20.6.1'  # Set the Node.js version

    - name: Install modules
      run: npm install
      # working-directory: frontend  # Set the working directory to 'my-folder'

    - name: Run ESLint
      run: npm run lint
      # working-directory: frontend  # Set the working directory to 'my-folder'
    
    - name: Run linters
      uses: wearerequired/lint-action@v2
      with:
        eslint: true
        prettier: true
        
      
        
